<div class="container-fluid">
  <div class="row">
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        <div class="form-group">
          <label for="content">Task</label>
          <input type="text" id="content" class="form-control" formControlName="content" [ngModel]="task?.content" required placeholder="Add Task">
        </div>
        <div class="form-group">
          <label for="dueDate">Due Date</label>
          <input type="date" id="dueDate" class="form-control" formControlName="dueDate" [ngModel]="task?.dueDate">
        </div>
        <div class="form-group" *ngIf="isCompany()">
          <label for="employee">Employee</label><br>
          <select formControlName="employee">
                        <option *ngFor="let employee of employees" [ngValue]="employee">
                          {{ employee.firstName }} {{ employee.lastName }}
                        </option>
                      </select>
        </div>
        <div *ngIf="successMessage" data-dismiss="alert" class="alert alert-success" id="successMessage">{{successMessage}}</div>

        <!-- <button class=" btn btn-danger " type="button " (click)="onClear(f) ">Clear</button> -->
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div>
      <app-task-list></app-task-list>
    </div>
  </div>
</div>
<app-error2></app-error2>
