.alert {
    -webkit-animation: fadeInAndOut 5s;
    /* Safari 4.0 - 8.0 */
    animation: fadeInAndOut 5s;
}

@-webkit-keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.25;
    }
    10% {
        opacity: 0.5;
    }
    15% {
        opacity: 0.75;
    }
    20% {
        opacity: 1.0;
    }
    85% {
        opacity: 0.75;
    }
    90% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}


/* Standard syntax */

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.25;
    }
    10% {
        opacity: 0.5;
    }
    15% {
        opacity: 0.75;
    }
    20% {
        opacity: 1.0;
    }
    85% {
        opacity: 0.75;
    }
    90% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}
