<table class="table table-striped table-hover">
    <tr>
        <td class="col-md-3">
            {{ employee.firstName }}
        </td>
        <td class="col-md-3">
            {{ employee.lastName }}
        </td>
        <td class="col-md-3">
            {{ employee.jobTitle }}
        </td>
        <td class="col-md-3">
            {{ employee.employeeId }}
        </td>
        <td class="col-md-3">
            <div>
                <a class="btn btn-default" *ngIf="router.url === '/employees'" (click)="onEdit()"><strong>Edit</strong></a>
                <a class="btn btn-danger" *ngIf="router.url === '/employees'" (click)="onDelete()"><strong>Delete</strong></a>
            </div>

        </td>
    </tr>
</table>
