<div class="container-fluid">
    <div class="row content" style="height: 550px;">
        <div class="col-md-4" style="height: 100%;">
            <h1 style="color: #ffffff;">Employees</h1>
            <app-employee-list></app-employee-list>
        </div>
        <div class="col-md-8" style="color: white;">
            <div class="container-fluid">
                <h3 class="text">To add an employee, fill out the form below and hit submit</h3>
                <h3 class="text">To edit an employee's information press the edit button in the employee's box to the left. Then fill out the form and press submit.</h3>
                <h3 class="text">To delete an employee, press the delete button.</h3>
                <br><br>

            </div>
            <div class="row" style="padding-left: 30px;">
                <app-add-employees></app-add-employees>
            </div>
        </div>
    </div>
</div>
