<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" id="companyName" class="form-control" formControlName="companyName">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
            <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
        </div>
    </form>
</div>
