<div class="container-fluid" *ngIf="isCompany() == true">
    <div class="row content" style="height: 550px;">
        <div>
            <app-task-list></app-task-list>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isCompany() == false">
    <div class="row">
        <app-add-tasks></app-add-tasks>
        <hr>
        <!-- <div class="row" style="padding-left: 30px;">
            <h3>Tasks</h3>
            <app-task-list></app-task-list>
        </div> -->
    </div>
</div>
